.page-support {
	&__head {
		margin-bottom: vmin(60);

		&__content {
			width: 100%;
		}

		&__image {
			flex-shrink: 0;
			margin-top: vmin(30);

			img {
				width: 100%;
			}

			@include desktop {
				margin: 0 0 0 vw(30);
				width: vw(612);
			}

			@include desktop-xl {
				margin-left: 30px;
				width: 612px;
			}

			@include desktop-xxl {
				margin-left: px(30);
				width: px(612);
			}
		}

		&__text {
			@include desktop {
				max-width: vw(506);
			}

			@include desktop-xl {
				max-width: 506px;
			}

			@include desktop-xxl {
				max-width: px(506);
			}
		}

		@include desktop {
			display: flex;
			margin-bottom: vw(104);
		}

		@include desktop-xl {
			margin-bottom: 104px;
		}

		@include desktop-xxl {
			margin-bottom: px(104);
		}
	}

	.tab-list {
		@include desktop {
			border-bottom: solid 1px #d1d8e1;
			padding-bottom: vw(20);
		}

		@include desktop-xl {
			padding-bottom: 20px;
		}

		@include desktop-xxl {
			padding-bottom: px(20);
		}
	}

	&__files {
		display: flex;
		flex-wrap: wrap;
		margin: 1px 0 0 1px;

		&__col {
			width: 100%;

			@include desktop {
				width: 25%;
			}
		}

		&__item {
			display: flex;
			flex-direction: column;
			margin: -1px 0 0 -1px;
			border: solid 1px #d1d8e1;
			padding: vmin(24) vmin(24) vmin(20);

			&__icon {
				margin-bottom: vmin(16);

				svg {
					display: block;
					width: vmin(34);
					height: vmin(34);

					@include desktop {
						width: vw(56);
						height: vw(56);
					}

					@include desktop-xl {
						width: 56px;
						height: 56px;
					}

					@include desktop-xxl {
						width: px(56);
						height: px(56);
					}
				}

				@include desktop {
					margin-bottom: vw(24);
				}

				@include desktop-xl {
					margin-bottom: 24px;
				}

				@include desktop-xxl {
					margin-bottom: px(24);
				}
			}

			&__name {
				margin: 0 0 vmin(4);

				@include desktop {
					margin: 0 0 vw(4);
				}

				@include desktop-xl {
					margin: 0 0 4px;
				}

				@include desktop-xxl {
					margin: 0 0 px(4);
				}
			}

			&__info {
				font-size: vmin(12);
				line-height: 1.5;
				color: #9faab9;

				@include desktop {
					font-size: vw(12);
				}

				@include desktop-xl {
					font-size: 12px;
				}

				@include desktop-xxl {
					font-size: px(12);
				}
			}

			@include desktop {
				padding: vw(48) vw(46) vw(40) vw(48);
				height: 100%;
				min-height: vw(280);
			}

			@include desktop-xl {
				padding: 48px 46px 40px 48px;
				min-height: 280px;
			}

			@include desktop-xxl {
				padding: px(48) px(46) px(40) px(48);
				min-height: px(280);
			}
		}
	}

	&__video {
		display: flex;
		flex-wrap: wrap;
		margin: 0 vmin(-12) vmin(-24);

		&__col {
			margin-bottom: vmin(24);
			padding: 0 vmin(12);
			width: 100%;

			@include desktop {
				margin-bottom: vw(24);
				padding: 0 vw(12);
				width: 33.33334%;
			}

			@include desktop-xl {
				margin-bottom: 24px;
				padding: 0 12px;
			}

			@include desktop-xxl {
				margin-bottom: px(24);
				padding: 0 px(12);
			}
		}

		&__item {
			position: relative;
			display: block;

			&__image {
				padding-bottom: 71.5%;
				background: 50% 50% no-repeat;
				background-size: cover;
			}

			&__play {
				position: absolute;
				left: 50%;
				top: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				width: vmin(40);
				height: vmin(40);
				background: $color-white;
				transform: translate(-50%, -50%);
				transition: $duration-normal;

				svg {
					display: block;
					width: vmin(12);
					height: vmin(12);

					@include desktop {
						width: vw(12);
						height: vw(12);
					}

					@include desktop-xl {
						width: 12px;
						height: 12px;
					}

					@include desktop-xxl {
						width: px(12);
						height: px(12);
					}
				}

				@include desktop {
					width: vw(40);
					height: vw(40);
				}

				@include desktop-xl {
					width: 40px;
					height: 40px;
				}

				@include desktop-xxl {
					width: px(40);
					height: px(40);
				}
			}

			@include desktop {
				&:hover &__play {
					transform: translate(-50%, -50%) scale(1.2);
				}
			}
		}

		@include desktop {
			margin: 0 vw(-12) vw(-24);
		}

		@include desktop-xl {
			margin: 0 -12px -24px;
		}

		@include desktop-xxl {
			margin: 0 px(-12) px(-24);
		}
	}
}
