.page-partners {
  .wrapper__side {
    @include desk-m {
      &:not(.show) {
        display: none;
      }

      &.show {
        & + .wrapper__content {
          padding-top: 23px;

          @include tablet {
            padding-top: 0;
          }

          .btn {
            @include mob {
              width: 100%;
            }
          }
        }

        @include tablet {
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

  .intro {
    margin-bottom: 64px;

    @include tablet {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 48px;

      @include desk-m {
        margin-bottom: 40px;
      }

      @include mob {
        margin-bottom: 24px;
      }
    }
    // margin-bottom: vmin(40);

    // &__head {
    //   @include desktop {
    //     margin-bottom: vw(40);
    //   }

    //   @include desktop-xl {
    //     margin-bottom: 40px;
    //   }

    //   @include desktop-xxl {
    //     margin-bottom: px(40);
    //   }
    // }

    &__video {
      @include tablet {
        margin: 0;
        height: 316px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      @include mob {
        height: 284px;
      }
    }

    // &__video {
    //   margin-bottom: 0;
    // }

    // @include desktop {
    //   margin-bottom: vw(64);
    // }

    // @include desktop-xl {
    //   margin-bottom: 64px;
    // }

    // @include desktop-xxl {
    //   margin-bottom: px(64);
    // }
  }

  &__title {
    font-size: 32px;
    line-height: 1.15;
    font-weight: 700;
    margin: 0 0 24px;

    @include mob {
      font-size: 24px;
      margin-bottom: 16px;

      & + .btn {
        margin-top: 8px;
      }
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 24px;

    @include tablet {
      font-size: 20px;
    }
  }

  &__slogan {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    margin: 0 0 40px;

    @include mob {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 24px;
    }
  }

  .tab-list {
    margin-bottom: 48px;
    border-bottom: solid 1px #d1d8e1;

    @include tablet {
      margin-bottom: 32px;
    }

    // ul {
    //   @include mobile {
    //     padding-bottom: vmin(15);
    //   }
    // }

    // @include desktop {
    //   margin-bottom: vw(40);
    //   padding-bottom: vw(20);
    // }

    // @include desktop-xl {
    //   margin-bottom: 40px;
    //   padding-bottom: 20px;
    // }

    // @include desktop-xxl {
    //   margin-bottom: px(40);
    //   padding-bottom: px(20);
    // }
  }

  .wrapper__content {
    min-width: 0;
  }

  &__image {
    height: 337px;
    width: 294px;
    margin-top: -100px;

    @include desk-m {
      margin-top: 0;
      height: 294px;
      width: 256px;
    }

    @include tablet {
      width: 100%;
      height: 504px;
    }

    @include mob {
      height: 395px;
    }

    &.designer {
      margin-top: -180px;

      @include desk-m {
        margin-top: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    // margin-bottom: vmin(32);
    // text-align: center;

    // @include desktop {
    //   margin-bottom: 0;
    //   max-width: vw(294);
    // }

    // @include desktop-xl {
    //   max-width: 294px;
    // }

    // @include desktop-xxl {
    //   max-width: px(294);
    // }
  }

  .page-subtext {
    margin-bottom: vmin(32);

    &:last-child {
      margin-bottom: 0;
    }

    @include desktop {
      margin-bottom: vw(40);
    }

    @include desktop-xl {
      margin-bottom: 40px;
    }

    @include desktop-xxl {
      margin-bottom: px(40);
    }
  }

  .page-text {
    margin-bottom: 48px;

    @include mob {
      margin-bottom: 40px;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    // @include desktop {
    //   margin-bottom: vw(40);
    // }

    // @include desktop-xl {
    //   margin-bottom: 40px;
    // }

    // @include desktop-xxl {
    //   margin-bottom: px(40);
    // }
  }

  &__list {
    display: flex;
    padding-top: 24px;
    margin: 0 0 70px;

    @include tablet {
      padding-top: 0;
    }

    @include mob {
      flex-wrap: wrap;
      margin-bottom: 48px;
    }

    ul {
      // width: calc((100% - 24px) / 2);

      li {
        padding-left: 20px;
        // width: 100%;

        &::before {
          top: 10px;
          width: 5px;
          height: 5px;
        }
      }

      li + li {
        margin-top: 20px;
      }
    }

    &__col {
      width: calc((100% - 24px) / 2);

      @include mob {
        width: 100%;
      }

      & + & {
        margin-left: 24px;

        @include mob {
          margin-left: 0;
          margin-top: 20px;
        }
        // margin-top: vmin(12);

        // @include desktop {
        //   margin-top: 0;
        // }
      }

      // @include desktop {
      //   padding: 0 vw(20);
      //   width: 50%;
      // }

      // @include desktop-xl {
      //   padding: 0 20px;
      // }

      // @include desktop-xxl {
      //   padding: 0 px(20);
      // }
    }

    // @include desktop {
    //   display: flex;
    //   margin: vw(40) vw(-4) 0 vw(-20);
    // }

    // @include desktop-xl {
    //   margin: 40px -4px 0 -20px;
    // }

    // @include desktop-xxl {
    //   margin: px(40) px(-4) 0 px(-20);
    // }
  }

  &__form {
    background: $grey-100;
    padding: 48px 40px;
    margin: 0 0 48px;

    @include mob {
      margin-bottom: 40px;
    }

    @include mob {
      padding: 24px;
    }

    .form__col {
      &:nth-child(n) {
        padding-left: 0;
        padding-right: 0;
      }

      @include mob {
        width: 100%;

        &:nth-child(n) {
          padding-left: 0;
        }
      }
    }

    .form__row {
      margin-left: 0;
      margin-right: 0;
    }

    .form__title {
      font-size: 24px;
      line-height: 1.3;
      font-weight: 700;
      margin: 0 0 16px;

      @include tablet {
        font-size: 20px;
      }
    }

    .form__text {
      margin-bottom: 40px;

      @include mob {
        margin-bottom: 28px;
      }
    }

    .form__footer {
      padding-top: 0;
      display: flex;
      justify-content: flex-end;
    }

    input:not(:hover):not(:focus):not(.error) {
      border-color: $grey-100;
    }

    .checkbox {
      padding-top: 4px;
      margin: 0 0 40px;

      @include mob {
        margin-bottom: 24px;
      }
    }

    .btn {
      margin-left: auto;
      width: 208px;
      max-width: 100%;

      @include mob {
        width: 100%;
      }
    }

    &__title {
      margin-bottom: 40px;

      @include desktop {
        margin-bottom: vw(40);
      }

      @include desktop-xl {
        margin-bottom: 40px;
      }

      @include desktop-xxl {
        margin-bottom: px(40);
      }
    }

    // @include desktop {
    //   margin-top: vw(80);
    // }

    // @include desktop-xl {
    //   margin-top: 80px;
    // }

    // @include desktop-xxl {
    //   margin-top: px(80);
    // }
  }
}
