.page-index {
  .intro {
    margin-top: -36px;
    padding-top: 36px;
    background: $color-white;

    // &::after {
    // 	content: "";
    // 	position: absolute;
    // 	left: 0;
    // 	top: 100%;
    // 	width: 100%;
    // 	height: vmin(150);
    // 	background: linear-gradient(to bottom, $color-white 0%, rgba($color-white, 0) 100%);

    // 	@include desktop {
    // 		display: block;
    // 		height: vw(300);
    // 	}

    // 	@include desktop-xl {
    // 		height: 300px;
    // 	}

    // 	@include desktop-xxl {
    // 		height: px(300);
    // 	}
    // }

    &__video {
      overflow: hidden;
      height: vmin(225);

      video {
        position: absolute;
        left: 50%;
        top: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
      }

      @include desktop {
        height: vw(584);
      }

      @include desktop-xl {
        height: 700px;
      }

      @include desktop-xxl {
        height: px(700);
      }
    }

    &.anime {
      .intro {
        &__head {
          transition-delay: $duration-normal * 1.5;
        }

        &__video {
          &::before {
            transition-delay: $duration-normal * 1.5;
          }
        }
      }
    }

    @include desk-m {
      margin-top: 0;
      padding-top: 28px;
    }

    @include tablet {
      padding-top: 32px;
    }

    // @include desktop {
    //   margin-top: vw(-32);
    //   padding-top: vw(32);
    // }

    // @include desktop-xl {
    //   margin-top: -32px;
    //   padding-top: 32px;
    // }

    // @include desktop-xxl {
    //   margin-top: px(-32);
    //   padding-top: px(32);
    // }
  }
}

.page-index__news-slider {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 96px;
    width: 72px;
    height: 72px;
    background-image: url("../img/dragable.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none;
    transform: translateY(calc(-100% + 25px));

    @include desk-m {
      right: 48px;
    }

    @include tablet {
      right: 32px;
    }

    @include mob {
      right: 16px;
      height: 48px;
      width: 48px;
    }
  }

  &.locked {
    &::after {
      display: none;
    }
  }
}

.page-index__news-slider-wrapper {
  padding-bottom: 25px;
}

.page-index__news-pagination.swiper-pagination-progressbar {
  top: auto;
  bottom: 0;
  width: calc(100% - 192px);
  left: 96px;
  height: 1px;
  background: $grey-200;

  @include desk-m {
    width: calc(100% - 96px);
    left: 48px;
  }

  @include tablet {
    width: calc(100% - 64px);
    left: 32px;
  }

  @include mob {
    width: calc(100% - 32px);
    left: 16px;
  }

  .swiper-pagination-progressbar-fill {
    background: $primary-200;
  }
}

.page-index__news-title {
  padding-left: 96px;

  a {
    display: inline-flex;
    align-items: center;
  }

  svg {
    width: 48px;
    height: 48px;
    margin-left: 24px;
    flex-shrink: 0;
  }

  @include desk-m {
    padding-left: 48px;
  }

  @include tablet {
    padding-left: 32px;
  }

  @include mob {
    padding-left: 16px;
    padding-right: 16px;

    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.page-index__news {
  margin-bottom: 120px;
  width: calc(100% + 192px);
  transform: translateX(-96px);

  @include desk-m {
    width: calc(100% + 96px);
    transform: translateX(-48px);
    margin-bottom: 96px;
  }

  @include tablet {
    width: calc(100% + 64px);
    transform: translateX(-32px);
    margin-bottom: 64px;
  }

  @include mob {
    width: calc(100% + 32px);
    transform: translateX(-16px);
    margin-bottom: 48px;
  }

  .news-page__item {
    &:nth-child(n) {
      margin: 0;
      width: auto;
      padding-left: 24px;

      @include mob {
        width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    &:first-child {
      padding-left: 96px;

      @include desk-m {
        padding-left: 48px;
      }

      @include tablet {
        padding-left: 32px;
      }

      @include mob {
        padding-left: 16px;
      }
    }

    &:last-child {
      padding-right: 96px;

      @include desk-m {
        padding-right: 48px;
      }

      @include tablet {
        padding-right: 32px;
      }

      @include mob {
        padding-right: 16px;
      }
    }
  }

  .news-page__link {
    min-height: 440px;
    width: 400px;

    @include mob {
      min-height: 325px;
      width: 100%;
    }
  }
}

.page-index__objects {
  margin-bottom: 120px;
  width: calc(100% + 192px);
  transform: translateX(-96px);

  &.anime {
    opacity: 0;
    transform: translate(-96px, 25px);

    @include desk-m {
      transform: translate(-48px, 25px);
    }

    @include tablet {
      transform: translate(-32px, 25px);
    }

    @include mob {
      transform: translate(-16px, 25px);
    }
  }

  &.animated {
    opacity: 1;
    transform: translate(-96px, 0);
    transition: 1.2s;

    @include desk-m {
      transform: translate(-48px, 0);
    }

    @include tablet {
      transform: translate(-32px, 0);
    }

    @include mob {
      transform: translate(-16px, 0);
    }
  }

  @include desk-m {
    width: calc(100% + 96px);
    transform: translateX(-48px);
    margin-bottom: 96px;
  }

  @include tablet {
    width: calc(100% + 64px);
    transform: translateX(-32px);
    margin-bottom: 64px;
  }

  @include mob {
    width: calc(100% + 32px);
    transform: translateX(-16px);
    margin-bottom: 48px;
  }

  .about-brand__object-item {
    &:nth-child(n) {
      margin: 0;
      width: auto;
      padding-left: 24px;

      @include mob {
        width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    &:first-child {
      padding-left: 96px;

      @include desk-m {
        padding-left: 48px;
      }

      @include tablet {
        padding-left: 32px;
      }

      @include mob {
        padding-left: 16px;
      }
    }

    &:last-child {
      padding-right: 96px;

      @include desk-m {
        padding-right: 48px;
      }

      @include tablet {
        padding-right: 32px;
      }

      @include mob {
        padding-right: 16px;
      }
    }
  }
}
