.page-partners {
	.intro {
		margin-bottom: vmin(40);

		&__head {
			@include desktop {
				margin-bottom: vw(40);
			}

			@include desktop-xl {
				margin-bottom: 40px;
			}

			@include desktop-xxl {
				margin-bottom: px(40);
			}
		}

		&__video {
			margin-bottom: 0;
		}

		@include desktop {
			margin-bottom: vw(64);
		}

		@include desktop-xl {
			margin-bottom: 64px;
		}

		@include desktop-xxl {
			margin-bottom: px(64);
		}
	}

	.tab-list {
		margin-bottom: vmin(32);
		border-bottom: solid 1px #d1d8e1;

		ul {
			@include mobile {
				padding-bottom: vmin(15);
			}
		}

		@include desktop {
			margin-bottom: vw(40);
			padding-bottom: vw(20);
		}

		@include desktop-xl {
			margin-bottom: 40px;
			padding-bottom: 20px;
		}

		@include desktop-xxl {
			margin-bottom: px(40);
			padding-bottom: px(20);
		}
	}

	.wrapper__content {
		min-width: 0;
	}

	&__image {
		margin-bottom: vmin(32);
		text-align: center;

		@include desktop {
			margin-bottom: 0;
			max-width: vw(294);
		}

		@include desktop-xl {
			max-width: 294px;
		}

		@include desktop-xxl {
			max-width: px(294);
		}
	}

	.page-subtext {
		margin-bottom: vmin(32);

		&:last-child {
			margin-bottom: 0;
		}

		@include desktop {
			margin-bottom: vw(40);
		}

		@include desktop-xl {
			margin-bottom: 40px;
		}

		@include desktop-xxl {
			margin-bottom: px(40);
		}
	}

	.page-text {
		margin-bottom: vmin(32);

		&:last-child {
			margin-bottom: 0;
		}

		@include desktop {
			margin-bottom: vw(40);
		}

		@include desktop-xl {
			margin-bottom: 40px;
		}

		@include desktop-xxl {
			margin-bottom: px(40);
		}
	}

	&__list {
		margin-top: vmin(32);

		&__col {
			& + & {
				margin-top: vmin(12);

				@include desktop {
					margin-top: 0;
				}
			}

			@include desktop {
				padding: 0 vw(20);
				width: 50%;
			}

			@include desktop-xl {
				padding: 0 20px;
			}

			@include desktop-xxl {
				padding: 0 px(20);
			}
		}

		@include desktop {
			display: flex;
			margin: vw(40) vw(-4) 0 vw(-20);
		}

		@include desktop-xl {
			margin: 40px -4px 0 -20px;
		}

		@include desktop-xxl {
			margin: px(40) px(-4) 0 px(-20);
		}
	}

	&__form {
		margin-top: vmin(60);

		&__title {
			margin-bottom: 40px;

			@include desktop {
				margin-bottom: vw(40);
			}

			@include desktop-xl {
				margin-bottom: 40px;
			}

			@include desktop-xxl {
				margin-bottom: px(40);
			}
		}

		@include desktop {
			margin-top: vw(80);
		}

		@include desktop-xl {
			margin-top: 80px;
		}

		@include desktop-xxl {
			margin-top: px(80);
		}
	}
}
