@font-face {
  src: url("../fonts/BOSCHSANS-REGULAR.woff2") format("woff2"), url("../fonts/BOSCHSANS-REGULAR.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-REGULARITALIC.woff2") format("woff2"),
    url("../fonts/BOSCHSANS-REGULARITALIC.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-MEDIUM.woff2") format("woff2"), url("../fonts/BOSCHSANS-MEDIUM.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-MEDIUMITALIC.woff2") format("woff2"),
    url("../fonts/BOSCHSANS-MEDIUMITALIC.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-LIGHT.woff2") format("woff2"), url("../fonts/BOSCHSANS-LIGHT.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-LIGHTITALIC.woff2") format("woff2"),
    url("../fonts/BOSCHSANS-LIGHTITALIC.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-BOLD.woff2") format("woff2"), url("../fonts/BOSCHSANS-BOLD.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-BOLDITALIC.woff2") format("woff2"),
    url("../fonts/BOSCHSANS-BOLDITALIC.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/BOSCHSANS-BLACKITALIC.woff2") format("woff2"),
    url("../fonts/BOSCHSANS-BLACKITALIC.woff") format("woff");
  font-family: "Boschsans";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
