// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-cod-gray: #151515;
$color-blue-ribbon: #2858ff;
$color-denim: #113ee0;
$color-geyser: #d1d8e1;
$color-gull-gray: #94a0b1;
$color-mountain-meadow: #1ed77e;
$color-flamingo: #f25248;
$color-athens-gray: #f4f4f8;

$primary-100: #7fc6e7;
$primary-150: #007bc0;
$primary-200: #005587;
$primary-250: #004975;

$grey-100: #eff1f2;
$grey-200: #dfdfe0;
$grey-300: #cfd0d1;
$grey-400: #9c9d9e;

$fail: #ed0a34;
$color-blue: #005bff;

// FONTS

$font-family-SuisseIntl: "Boschsans", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

//Breakepoints
$desktop: 1440px;
$desktop-m: 1024px;
$tablet: 768px;
$mobile: 376px;
$desktop-gap: 96px;
$desktop-m-gap: 48px;
$tablet-gap: 32px;
$mobile-gap: 16px;
