.app-subscribe {
	position: relative;
	margin-bottom: vmin(80);

	&__container {
		display: flex;

		@include mobile {
			position: relative;
			padding-top: vmin(150);
		}
	}

	&__side {
		flex-shrink: 0;
		margin: 0 vmin(40) 0 0;

		@include mobile {
			position: absolute;
			left: 0;
			top: 0;
		}

		@include desktop {
			margin: 0 vw(218) 0 vw(12);
		}

		@include desktop-xl {
			margin: 0 218px 0 12px;
		}

		@include desktop-xxl {
			margin: 0 px(218) 0 px(12);
		}
	}

	&__content {
		width: 100%;
	}

	&__cloud {
		position: absolute;
		left: vmin(11);
		top: vmin(11);
		z-index: 5;
		overflow: hidden;
		border-radius: 50%;
		width: 200vmax;
		height: 200vmax;
		transform: translate(-50%, -50%);

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url("../images/noise.png");
			opacity: 0.025;
		}

		video {
			position: absolute;
			left: 50%;
			top: 50%;
			width: auto;
			height: 200vmax;
			transform: translate(-50%, -50%);

			@include desktop {
				min-width: 150vw;
				min-height: 150vw;
			}
		}

		@include desktop {
			left: vw(46);
			top: vw(34);
			width: 220vw;
			height: 220vw;
		}

		@include desktop-xl {
			left: 46px;
			top: 34px;
		}

		@include desktop-xxl {
			left: px(46);
			top: px(34);
		}
	}

	&__logo {
		display: flex;

		svg {
			display: block;
		}

		&__o {
			margin-right: vmin(5);

			svg {
				width: vmin(22);
				height: vmin(22);

				@include desktop {
					width: vw(68);
					height: vw(68);
				}

				@include desktop-xl {
					width: 68px;
					height: 68px;
				}

				@include desktop-xxl {
					width: px(68);
					height: px(68);
				}
			}

			@include desktop {
				margin-right: vw(22);
			}

			@include desktop-xl {
				margin-right: 22px;
			}

			@include desktop-xxl {
				margin-right: px(22);
			}
		}

		&__d {
			svg {
				width: vmin(38);
				height: vmin(38);

				@include desktop {
					width: vw(104);
					height: vw(118);
				}

				@include desktop-xl {
					width: 104px;
					height: 118px;
				}

				@include desktop-xxl {
					width: px(104);
					height: px(118);
				}
			}
		}
	}

	&__image {
		margin-right: vmin(-160);
		margin-bottom: vmin(35);

		img {
			width: vmin(360);

			@include desktop {
				width: 100%;
			}
		}

		@include mobile {
			position: absolute;
			left: vmin(100);
			top: 0;
		}

		@include desktop {
			margin-right: 0;
			margin-bottom: vw(64);
		}

		@include desktop-xl {
			margin-bottom: 64px;
		}

		@include desktop-xxl {
			margin-bottom: px(64);
		}
	}

	&__title {
		margin: 0 0 vmin(16);

		@include desktop {
			margin: 0 0 vw(16);
			max-width: vw(506);
		}

		@include desktop-xl {
			margin: 0 0 16px;
			max-width: 506px;
		}

		@include desktop-xxl {
			margin: 0 0 px(16);
			max-width: px(506);
		}
	}

	&__text {
		margin-bottom: vmin(12);

		@include desktop {
			margin-bottom: vw(32);
			max-width: vw(506);
		}

		@include desktop-xl {
			margin-bottom: 32px;
			max-width: 506px;
		}

		@include desktop-xxl {
			margin-bottom: px(32);
			max-width: px(506);
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;

		@include desktop {
			flex-direction: row;
			align-items: center;
		}
	}

	&__price {
		margin-bottom: vmin(30);
		font-size: vmin(48);
		line-height: 1.2;

		sup {
			vertical-align: super;
			margin-right: vmin(12);
			font-weight: 400;
			font-size: vmin(18);

			@include desktop {
				margin-right: vw(2);
				font-size: vw(24);
			}

			@include desktop-xl {
				margin-right: 2px;
				font-size: 24px;
			}

			@include desktop-xxl {
				margin-right: px(2);
				font-size: px(24);
			}
		}

		span {
			font-weight: 600;
		}

		@include desktop {
			margin-right: vw(40);
			margin-bottom: 0;
			font-weight: 600;
			font-size: vw(80);
		}

		@include desktop-xl {
			margin-right: 40px;
			font-size: 80px;
		}

		@include desktop-xxl {
			margin-right: px(40);
			font-size: px(80);
		}
	}

	&__button {
		.button {
			@include mobile {
				width: 100%;
			}
		}
	}

	@include mobile {
		&.anime {
			.app-subscribe {
				&__logo,
				&__image,
				&__title,
				&__text,
				&__price,
				&__button {
					opacity: 0;
					transform: translateY(50px);
					transition: $duration-normal * 2;
				}

				&__title {
					transition-delay: 0.15s;
				}

				&__text {
					transition-delay: 0.3s;
				}
			}

			&.animated {
				.app-subscribe {
					&__logo,
					&__image,
					&__title,
					&__text,
					&__price,
					&__button {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
	}

	@include desktop {
		margin-bottom: vw(176);
	}

	@include desktop-xl {
		margin-bottom: 176px;
	}

	@include desktop-xxl {
		margin-bottom: px(176);
	}
}
