.breadcrumbs {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 21px;
  color: $grey-400;
  font-weight: 500;

  @include desk-m {
    margin-bottom: 25px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      margin-right: 7px;
      line-height: 21px;

      a {
        // white-space: nowrap;
        // max-width: 100%;
        // overflow: hidden;
        // text-overflow: ellipsis;
      }

      + li {
        &::before {
          content: "";
          display: inline-block;
          vertical-align: middle;
          margin: 0 12px 0 0;
          border-top: 1px solid $grey-400;
          border-right: 1px solid $grey-400;
          width: 7px;
          height: 7px;
          transform: rotate(45deg);

          // @include desktop {
          //   position: absolute;
          //   left: vw(-17);
          //   top: vw(3);
          //   display: block;
          //   margin: 0;
          //   width: vw(7);
          //   height: vw(7);
          //   transform: rotate(45deg);
          // }

          // @include desktop-xl {
          //   left: -17px;
          //   top: 3px;
          //   width: 7px;
          //   height: 7px;
          // }

          // @include desktop-xxl {
          //   left: px(-17);
          //   top: px(3);
          //   width: px(7);
          //   height: px(7);
          // }
        }
      }

      // @include desktop {
      //   margin-right: vw(22);
      // }

      // @include desktop-xl {
      //   margin-right: 22px;
      // }

      // @include desktop-xxl {
      //   margin-right: px(22);
      // }
    }
  }

  // @include desktop {
  //   margin-bottom: vw(34);
  //   font-size: vw(14);
  // }

  // @include desktop-xl {
  //   margin-bottom: 34px;
  //   font-size: 14px;
  // }

  // @include desktop-xxl {
  //   margin-bottom: px(34);
  //   font-size: px(14);
  // }
}
