.form-wrap {
  &__side {
    margin-bottom: vmin(24);

    &__phone {
      margin: 0;
      font-weight: 400;
    }

    @include desktop {
      flex-shrink: 0;
      margin-right: vw(24);
      margin-bottom: 0;
      width: vw(400);
    }

    @include desktop-xl {
      margin-right: 24px;
      width: 400px;
    }

    @include desktop-xxl {
      margin-right: px(24);
      width: px(400);
    }
  }

  .form {
    min-width: 0;

    @include desktop {
      width: 100%;
    }
  }

  @include desktop {
    display: flex;
  }
}

.form {
  margin: 0 -10px;
  padding: 20px;
  background: $color-athens-gray;

  &__title {
    font-size: 32px;

    &.center {
      text-align: center;
    }

    & + .form__subtitle {
      padding-top: 0;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 12px;

    span {
      color: $fail;
    }
  }

  &__text {
    margin-bottom: 30px;

    &.center {
      text-align: center;
    }

    & + .form__subtitle {
      padding-top: 0;
    }

    // @include desktop {
    //   margin-bottom: vw(32);
    // }

    // @include desktop-xl {
    //   margin-bottom: 32px;
    // }

    // @include desktop-xxl {
    //   margin-bottom: px(32);
    // }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -12px;

    // @include desktop {
    //   margin: 0 vw(-12);
    // }

    // @include desktop-xl {
    //   margin: 0 -12px;
    // }

    // @include desktop-xxl {
    //   margin: 0 px(-12);
    // }
  }

  &__col {
    padding: 0 12px;
    width: calc((100% - 16px) / 2);

    &:first-child {
      padding-right: 0;
    }

    &:last-child {
      padding-left: 0;
    }

    // @include desktop {
    //   padding: 0 vw(12);
    //   width: 50%;
    // }

    // @include desktop-xl {
    //   padding: 0 12px;
    // }

    // @include desktop-xxl {
    //   padding: 0 px(12);
    // }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;

    @include mob {
      padding-top: 0;
      flex-direction: column-reverse;
    }

    &-policy {
      margin-top: 16px;
      font-size: 14px;
      line-height: 1.5;

      @include mob {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 12px;
      }

      a {
        color: $primary-200;
      }
    }

    .form__button {
      //width: 100%;

      @include mob {
        width: 100%;
      }

      button {
        width: 100%;
      }
    }
  }

  .input {
    &__field {
      input,
      textarea {
        background: $color-white;
      }

      .select2-container--default .select2-selection--single {
        background: $color-white;
      }

      .select2-container--default .select2-selection__rendered {
        background: $color-white;
      }
    }
  }

  .radio,
  .checkbox {
    i {
      background: $color-white;
    }
  }

  &__button {
    text-align: right;

    .button {
      .is-browser-ie & {
        // @include desktop {
        //   padding: vw(23) vw(38) vw(19);
        // }

        // @include desktop-xl {
        //   padding: 23px 38px 19px;
        // }

        // @include desktop-xxl {
        //   padding: px(23) px(38) px(19);
        // }
      }

      // @include desktop {
      //   padding: vw(21) vw(38);
      //   font-size: vw(18);
      // }

      // @include desktop-xl {
      //   padding: 21px 38px;
      //   font-size: 18px;
      // }

      // @include desktop-xxl {
      //   padding: px(21) px(38);
      //   font-size: px(18);
      // }
    }
  }

  // @include desktop {
  //   margin: 0;
  //   padding: vw(48) vw(40);
  // }

  // @include desktop-xl {
  //   padding: 48px 40px;
  // }

  // @include desktop-xxl {
  //   padding: px(48) px(40);
  // }
}

.input {
  margin-bottom: 20px;

  &__error {
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 0 0;
    color: $fail;
    display: none;
  }

  &__label {
    margin-bottom: 5px;
    font-size: 14px;
    color: $grey-400;

    span {
      color: $fail;
    }

    // @include desktop {
    //   margin-bottom: vw(5);
    //   font-size: vw(14);
    // }

    // @include desktop-xl {
    //   margin-bottom: 5px;
    //   font-size: 14px;
    // }

    // @include desktop-xxl {
    //   margin-bottom: px(5);
    //   font-size: px(14);
    // }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;

    input,
    textarea {
      appearance: none;
      outline: none;
      padding: 16px 52px 16px 20px;
      width: 100%;
      height: 56px;
      background: $color-white;
      transition: $duration-normal;
      border: 1px solid $grey-300;
      border-radius: 0;

      &::-ms-clear {
        display: none;
      }

      &::placeholder {
        color: $grey-400;
      }

      &:hover {
        border-color: $grey-400;
      }

      &:focus {
        border-color: $primary-200;
      }

      &:disabled {
        background: $grey-100;
        border-color: $grey-300;
        color: $grey-400;
        pointer-events: none;
      }

      &.error {
        border-color: $fail;
      }

      // @include desktop {
      // 	border-radius: vw(2);
      // 	padding: 0 vw(50) 0 vw(20);
      // 	height: vw(56);
      // }

      // @include desktop-xl {
      // 	border-radius: 2px;
      // 	padding: 0 50px 0 20px;
      // 	height: 56px;
      // }

      // @include desktop-xxl {
      // 	border-radius: px(2);
      // 	padding: 0 px(50) 0 px(20);
      // 	height: px(56);
      // }
    }

    textarea {
      padding: 16px 20px 0;
      height: 104px;
      resize: none;

      // @include desktop {
      //   padding: vw(16) vw(20) 0;
      //   height: vw(104);
      // }

      // @include desktop-xl {
      //   padding: 16px 20px 0;
      //   height: 104px;
      // }

      // @include desktop-xxl {
      //   padding: px(16) px(20) 0;
      //   height: px(104);
      // }
    }

    select {
      &:disabled ~ {
        .select2-container--default {
          .select2-selection {
            &__rendered {
              background: $color-geyser;
            }
          }
        }
      }

      &.error ~ {
        .select2-container--default {
          .select2-selection {
            &__rendered {
              border-color: $color-flamingo;
            }
          }
        }
      }
    }

    .select2-container {
      display: inline-block;
      vertical-align: middle;
      width: 100% !important;

      &--open {
        &.select2-container--default {
          .select2-selection {
            &__arrow {
              margin-top: -2px;
              transform: rotate(180deg);

              // @include desktop {
              //   margin-top: vw(-2);
              // }

              // @include desktop-xl {
              //   margin-top: -2px;
              // }

              // @include desktop-xxl {
              //   margin-top: px(-2);
              // }
            }
          }
        }
      }
    }

    .select2-container--default {
      .select2-selection {
        outline: none;
        border: none;
        border-radius: 0;
        background-color: transparent;

        &__rendered {
          display: flex;
          align-items: center;
          border: solid 1px $grey-300;
          border-radius: 0;
          padding: 0 50px 0 20px;
          height: 100%;
          color: $color-cod-gray;
          background: $color-white;
          transition: $duration-normal;

          &:hover {
            border-color: $grey-400;
          }

          // @include desktop {
          //   border-radius: vw(2);
          //   padding: 0 vw(50) 0 vw(20);
          // }

          // @include desktop-xl {
          //   border-radius: 2px;
          //   padding: 0 50px 0 20px;
          // }

          // @include desktop-xxl {
          //   border-radius: px(2);
          //   padding: 0 px(50) 0 px(20);
          // }
        }

        &__placeholder {
          color: $color-gull-gray;
        }

        &__arrow {
          right: 28px;
          top: 50%;
          z-index: 15;
          width: 12px;
          height: 8px;
          background: url("../images/sprites/svg/triangle.svg") 50% 50% no-repeat;
          background-size: contain;
          transform: translateY(-50%);
          transition: $duration-normal;

          b {
            display: none;
          }

          // @include desktop {
          //   right: vw(28);
          //   width: vw(12);
          //   height: vw(8);
          // }

          // @include desktop-xl {
          //   right: 28px;
          //   width: 12px;
          //   height: 8px;
          // }

          // @include desktop-xxl {
          //   right: px(28);
          //   width: px(12);
          //   height: px(8);
          // }
        }

        &--single {
          height: 56px;

          // @include desktop {
          //   height: vw(56);
          // }

          // @include desktop-xl {
          //   height: 56px;
          // }

          // @include desktop-xxl {
          //   height: px(56);
          // }
        }
      }
    }

    &__eye {
      position: absolute;
      right: 20px;
      top: 15px;
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../images/sprites/svg/eye-off.svg") 0 0 no-repeat;
      background-size: cover;

      &.is-eye-view {
        background: url("../images/sprites/svg/eye.svg") 0 0 no-repeat;
        background-size: cover;
      }

      // @include desktop {
      //   right: vw(20);
      //   top: vw(15);
      //   width: vw(24);
      //   height: vw(24);
      // }

      // @include desktop-xl {
      //   right: 20px;
      //   top: 15px;
      //   width: 24px;
      //   height: 24px;
      // }

      // @include desktop-xxl {
      //   right: px(20);
      //   top: px(15);
      //   width: px(24);
      //   height: px(24);
      // }
    }

    &__calendar {
      position: absolute;
      right: 22px;
      top: 18px;
      width: 20px;
      height: 20px;
      pointer-events: none;

      // @include desktop {
      //   right: vw(22);
      //   top: vw(18);
      //   width: vw(20);
      //   height: vw(20);
      // }

      // @include desktop-xl {
      //   right: 22px;
      //   top: 18px;
      //   width: 20px;
      //   height: 20px;
      // }

      // @include desktop-xxl {
      //   right: px(22);
      //   top: px(18);
      //   width: px(20);
      //   height: px(20);
      // }
    }

    label.error {
      display: block;
      order: 2;
      margin-top: 8px;
      font-size: 12px;
      color: $color-flamingo;

      // @include desktop {
      //   margin-top: vw(8);
      //   font-size: vw(12);
      // }

      // @include desktop-xl {
      //   margin-top: 8px;
      //   font-size: 12px;
      // }

      // @include desktop-xxl {
      //   margin-top: px(8);
      //   font-size: px(12);
      // }
    }

    &.is-disabled {
      background: $color-geyser;
      pointer-events: none;
    }

    &.is-loading {
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 5;
        border: solid 2px $color-blue-ribbon;
        border-bottom-color: rgba($color-blue-ribbon, 0.2);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        animation: buttonLoading linear 1s infinite;

        // @include desktop {
        //   right: vw(20);
        //   top: vw(20);
        //   border: solid vw(2) $color-blue-ribbon;
        //   border-bottom-color: rgba($color-blue-ribbon, 0.2);
        //   width: vw(18);
        //   height: vw(18);
        // }

        // @include desktop-xl {
        //   right: 20px;
        //   top: 20px;
        //   border: solid 2px $color-blue-ribbon;
        //   border-bottom-color: rgba($color-blue-ribbon, 0.2);
        //   width: 18px;
        //   height: 18px;
        // }

        // @include desktop-xxl {
        //   right: px(20);
        //   top: px(20);
        //   border: solid px(2) $color-blue-ribbon;
        //   border-bottom-color: rgba($color-blue-ribbon, 0.2);
        //   width: px(18);
        //   height: px(18);
        // }
      }

      .select2-container--default {
        .select2-selection {
          &__arrow {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }

    &--search {
      .select2-selection__arrow {
        z-index: 1050;
      }

      .select2-container--default {
        .select2-dropdown {
          margin-top: -56px;
          padding-top: 0;
          box-shadow: none;
          background: transparent;

          .select2-search--dropdown {
            margin-bottom: 8px;

            // @include desktop {
            //   margin-bottom: vw(8);
            // }

            // @include desktop-xl {
            //   margin-bottom: 8px;
            // }

            // @include desktop-xxl {
            //   margin-bottom: px(8);
            // }
          }

          .select2-results {
            box-shadow: 0 4px 24px rgba(67, 72, 78, 0.2);
            background: $color-white;

            .select2-results__message {
              padding: 12px 20px;
              font-size: 14px;
              text-align: center;
              color: $color-gull-gray;

              // @include desktop {
              //   padding: vw(12) vw(20);
              //   font-size: vw(14);
              // }

              // @include desktop-xl {
              //   padding: 12px 20px;
              //   font-size: 14px;
              // }

              // @include desktop-xxl {
              //   padding: px(12) px(20);
              //   font-size: px(14);
              // }
            }

            // @include desktop {
            //   box-shadow: 0 vw(4) vw(24) rgba(67, 72, 78, 0.2);
            // }

            // @include desktop-xl {
            //   box-shadow: 0 4px 24px rgba(67, 72, 78, 0.2);
            // }

            // @include desktop-xxl {
            //   box-shadow: 0 px(4) px(24) rgba(67, 72, 78, 0.2);
            // }
          }

          // @include desktop {
          //   margin-top: vw(-56);
          // }

          // @include desktop-xl {
          //   margin-top: -56px;
          // }

          // @include desktop-xxl {
          //   margin-top: px(-56);
          // }
        }
      }
    }
  }

  // @include desktop {
  //   margin-bottom: vw(23);
  // }

  // @include desktop-xl {
  //   margin-bottom: 23px;
  // }

  // @include desktop-xxl {
  //   margin-bottom: px(23);
  // }
}

input.error + .input__error {
  display: block;
}

textarea.error + .input__error {
  display: block;
}

body {
  .select2-container--default {
    .select2-dropdown {
      margin-top: 8px;
      border: none;
      border-radius: 0;
      padding: 12px 0;
      box-shadow: 8px 8px 64px rgba(46, 69, 102, 0.15);
      background: $color-white;
      z-index: 100000;

      // @include desktop {
      //   margin-top: vw(8);
      //   border-radius: vw(2);
      //   padding: vw(8) 0;
      //   box-shadow: 0 vw(4) vw(24) rgba(67, 72, 78, 0.2);
      // }

      // @include desktop-xl {
      //   margin-top: 8px;
      //   border-radius: 2px;
      //   padding: 8px 0;
      //   box-shadow: 0 4px 24px rgba(67, 72, 78, 0.2);
      // }

      // @include desktop-xxl {
      //   margin-top: px(8);
      //   border-radius: px(2);
      //   padding: px(8) 0;
      //   box-shadow: 0 px(4) px(24) rgba(67, 72, 78, 0.2);
      // }
    }

    .select2-results__options {
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;

        // @include desktop {
        //   width: vw(8);
        //   height: vw(8);
        // }

        // @include desktop-xl {
        //   width: 8px;
        //   height: 8px;
        // }

        // @include desktop-xxl {
        //   width: px(8);
        //   height: px(8);
        // }
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-right: solid vmin(4) rgba($color-black, 0.3);
        background-color: rgba($color-black, 0.3);
        opacity: 0;

        // @include desktop {
        //   border-right: solid vw(4) rgba($color-black, 0.3);
        // }

        // @include desktop-xl {
        //   border-right: solid 4px $color-white;
        // }

        // @include desktop-xxl {
        //   border-right: solid px(4) $color-white;
        // }
      }
    }

    .select2-results__option {
      padding: 6px 20px;
      background: none;
      transition: $duration-normal;

      &--highlighted,
      &[aria-selected="true"] {
        color: $primary-200;
        background: $grey-100;
      }

      // @include desktop {
      //   padding: vw(8) vw(20);
      // }

      // @include desktop-xl {
      //   padding: 8px 20px;
      // }

      // @include desktop-xxl {
      //   padding: px(8) px(20);
      // }
    }
  }

  .select2-search--dropdown {
    padding: 0;

    .select2-search__field {
      outline: none;
      border: none;
      padding: 0 50px 0 20px;

      // @include desktop {
      //   padding: 0 vw(50) 0 vw(20);
      // }

      // @include desktop-xl {
      //   padding: 0 50px 0 20px;
      // }

      // @include desktop-xxl {
      //   padding: 0 px(50) 0 px(20);
      // }
    }
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $primary-200;

  &:hover {
    border-color: $primary-200;
  }
}

.checkbox {
  margin-bottom: 32px;

  label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 40px;
    transition: $duration-normal;
    cursor: pointer;

    input {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      width: 1px;
      height: 1px;
      opacity: 0;
      transform: translate(-50%, -50%);

      &:checked ~ i {
        background: $primary-150;

        svg {
          opacity: 1;
          visibility: visible;
        }
      }

      &:focus {
        ~ i {
          box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $primary-150;

          // @include desktop {
          //   box-shadow: 0 0 0 vw(2) $color-white, 0 0 0 vw(4) $color-blue-ribbon;
          // }

          // @include desktop-xl {
          //   box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-blue-ribbon;
          // }

          // @include desktop-xxl {
          //   box-shadow: 0 0 0 px(2) $color-white, 0 0 0 px(4) $color-blue-ribbon;
          // }
        }
      }

      &:disabled {
        ~ i {
          border-color: $color-geyser;
          background: $color-geyser;

          svg {
            fill: $color-gull-gray;
          }
        }

        ~ span {
          color: $color-gull-gray;
        }
      }

      &.error ~ i {
        border-color: $color-flamingo;
      }
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 1px $primary-150;
      border-radius: 0;
      width: 24px;
      height: 24px;
      background: transparent;
      transition: $duration-normal;

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 1px;
        width: 10px;
        height: 8px;
        fill: $color-white;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%);
        transition: $duration-normal;
        color: $color-white;

        // @include desktop {
        //   width: vw(10);
        //   height: vw(8);
        // }

        // @include desktop-xl {
        //   width: 10px;
        //   height: 8px;
        // }

        // @include desktop-xxl {
        //   width: px(10);
        //   height: px(8);
        // }
      }

      // @include desktop {
      //   border-radius: vw(4);
      //   width: vw(24);
      //   height: vw(24);
      // }

      // @include desktop-xl {
      //   border-radius: 4px;
      //   width: 24px;
      //   height: 24px;
      // }

      // @include desktop-xxl {
      //   border-radius: px(4);
      //   width: px(24);
      //   height: px(24);
      // }
    }

    a {
      color: $primary-150;

      &:hover {
        color: $primary-200;
      }
    }

    // @include desktop {
    //   padding: 0 0 0 vw(40);
    // }

    // @include desktop-xl {
    //   padding: 0 0 0 40px;
    // }

    // @include desktop-xxl {
    //   padding: 0 0 0 px(40);
    // }
  }

  label.error {
    display: none !important;
  }

  // @include desktop {
  //   margin-bottom: vw(32);
  // }

  // @include desktop-xl {
  //   margin-bottom: 32px;
  // }

  // @include desktop-xxl {
  //   margin-bottom: px(32);
  // }
}

.radio {
  margin-bottom: vmin(32);

  label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 vmin(40);
    transition: $duration-normal;
    cursor: pointer;

    input {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: -1;
      width: 1px;
      height: 1px;
      opacity: 0;
      transform: translate(-50%, -50%);

      &:checked ~ i {
        background: $color-cod-gray;

        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      &:focus {
        ~ i {
          box-shadow: 0 0 0 2px $color-white, 0 0 0 4px $color-blue-ribbon;
        }
      }

      &:disabled {
        ~ i {
          border-color: $color-geyser;
          background: $color-geyser;

          &::before {
            background: $color-gull-gray;
          }
        }

        ~ span {
          color: $color-gull-gray;
        }
      }

      &.error ~ i {
        border-color: $color-flamingo;
      }
    }

    i {
      position: absolute;
      left: 0;
      top: 0;
      border: solid 1px transparent;
      border-radius: 50%;
      width: vmin(24);
      height: vmin(24);
      background: $color-athens-gray;
      transition: $duration-normal;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        width: vmin(8);
        height: vmin(8);
        background: $color-white;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%);

        @include desktop {
          width: vw(8);
          height: vw(8);
        }

        @include desktop-xl {
          width: 8px;
          height: 8px;
        }

        @include desktop-xxl {
          width: px(8);
          height: px(8);
        }
      }

      @include desktop {
        width: vw(24);
        height: vw(24);
      }

      @include desktop-xl {
        width: 24px;
        height: 24px;
      }

      @include desktop-xxl {
        width: px(24);
        height: px(24);
      }
    }

    @include desktop {
      padding: 0 0 0 vw(40);
    }

    @include desktop-xl {
      padding: 0 0 0 40px;
    }

    @include desktop-xxl {
      padding: 0 0 0 px(40);
    }
  }

  label.error {
    display: none !important;
  }

  @include desktop {
    margin-bottom: vw(32);
  }

  @include desktop-xl {
    margin-bottom: 32px;
  }

  @include desktop-xxl {
    margin-bottom: px(32);
  }
}

.multiple-file {
  &__item {
    &__upload {
      position: relative;
      display: block;
      border: 1px dashed $color-geyser;
      border-radius: vmin(2);
      padding: vmin(16) vmin(20);
      min-height: vmin(120);
      transition: $duration-normal;

      input {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        opacity: 0;
        cursor: pointer;
      }

      label.error {
        position: absolute;
        left: 0;
        bottom: vmin(-30);
        font-size: vmin(12);
        color: $color-flamingo;

        @include desktop {
          bottom: vw(-30);
          font-size: vw(12);
        }

        @include desktop-xl {
          bottom: -30px;
          font-size: 12px;
        }

        @include desktop-xxl {
          bottom: px(-30);
          font-size: px(12);
        }
      }

      &__row {
        display: flex;
        margin-bottom: vmin(20);

        @include desktop {
          margin-bottom: vw(20);
        }

        @include desktop-xl {
          margin-bottom: 20px;
        }

        @include desktop-xxl {
          margin-bottom: px(20);
        }
      }

      &__title {
        max-width: vmin(200);
        line-height: 1.6;

        @include desktop {
          max-width: vw(200);
        }

        @include desktop-xl {
          max-width: 200px;
        }

        @include desktop-xxl {
          max-width: px(200);
        }
      }

      &__icon {
        margin-left: auto;

        svg {
          display: block;
          width: vmin(24);
          height: vmin(24);

          @include desktop {
            width: vw(24);
            height: vw(24);
          }

          @include desktop-xl {
            width: 24px;
            height: 24px;
          }

          @include desktop-xxl {
            width: px(24);
            height: px(24);
          }
        }
      }

      &__info {
        font-size: vmin(12);
        color: $color-gull-gray;

        @include desktop {
          font-size: vw(12);
        }

        @include desktop-xl {
          font-size: 12px;
        }

        @include desktop-xxl {
          font-size: px(12);
        }
      }

      @include desktop {
        border-radius: vw(2);
        padding: vw(16) vw(20);
        min-height: vw(120);
      }

      @include desktop-xl {
        border-radius: 2px;
        padding: 16px 20px;
        min-height: 120px;
      }

      @include desktop-xxl {
        border-radius: px(2);
        padding: px(16) px(20);
        min-height: px(120);
      }
    }

    &__file {
      position: relative;
      display: none;
      align-items: center;
      border: solid 1px transparent;
      border-radius: vmin(2);
      padding: 0 vmin(50) 0 vmin(20);
      width: 100%;
      height: vmin(56);
      background: $color-athens-gray;
      transition: $duration-normal;

      &__remove {
        position: absolute;
        right: vmin(20);
        top: vmin(16);
        z-index: 5;
        display: block;
        outline: none;
        border: none;
        padding: 0;
        width: vmin(24);
        height: vmin(24);
        background: transparent;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: vmin(12);
          height: vmin(2);
          background: $color-cod-gray;
          transform: translate(-50%, -50%) rotate(45deg);

          @include desktop {
            width: vw(12);
            height: vw(2);
          }

          @include desktop-xl {
            width: 12px;
            height: 2px;
          }

          @include desktop-xxl {
            width: px(12);
            height: px(2);
          }
        }

        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        @include desktop {
          right: vw(20);
          top: vw(16);
          width: vw(24);
          height: vw(24);
        }

        @include desktop-xl {
          right: 20px;
          top: 16px;
          width: 24px;
          height: 24px;
        }

        @include desktop-xxl {
          right: px(20);
          top: px(16);
          width: px(24);
          height: px(24);
        }
      }

      &.is-loading {
        position: relative;
        color: $color-gull-gray;
        pointer-events: none;

        &::before {
          content: "";
          position: absolute;
          right: vmin(20);
          top: vmin(18);
          border: solid vmin(2) $color-blue-ribbon;
          border-bottom-color: rgba($color-blue-ribbon, 0.2);
          border-radius: 50%;
          width: vmin(20);
          height: vmin(20);
          animation: buttonLoading linear 1s infinite;

          @include desktop {
            right: vw(20);
            top: vw(18);
            border: solid vw(2) $color-blue-ribbon;
            border-bottom-color: rgba($color-blue-ribbon, 0.2);
            width: vw(20);
            height: vw(20);
          }

          @include desktop-xl {
            right: 20px;
            top: 18px;
            border: solid 2px $color-blue-ribbon;
            border-bottom-color: rgba($color-blue-ribbon, 0.2);
            width: 20px;
            height: 20px;
          }

          @include desktop-xxl {
            right: px(20);
            top: px(18);
            border: solid px(2) $color-blue-ribbon;
            border-bottom-color: rgba($color-blue-ribbon, 0.2);
            width: px(20);
            height: px(20);
          }
        }

        .multiple-file__item__file__remove {
          opacity: 0;
          visibility: hidden;
        }
      }

      @include desktop {
        border-radius: vw(2);
        padding: 0 vw(50) 0 vw(20);
        height: vw(56);
      }

      @include desktop-xl {
        border-radius: 2px;
        padding: 0 50px 0 20px;
        height: 56px;
      }

      @include desktop-xxl {
        border-radius: px(2);
        padding: 0 px(50) 0 px(20);
        height: px(56);
      }
    }

    &__error {
      display: none;
      margin-top: vmin(8);
      font-size: vmin(12);
      color: $color-flamingo;

      @include desktop {
        margin-top: vw(8);
        font-size: vw(12);
      }

      @include desktop-xl {
        margin-top: 8px;
        font-size: 12px;
      }

      @include desktop-xxl {
        margin-top: px(8);
        font-size: px(12);
      }
    }

    &.is-active &__upload {
      display: none;
    }

    &.is-active &__file {
      display: flex;
    }

    &.is-error {
      .multiple-file__item__upload {
        border-color: $color-flamingo;
      }

      .multiple-file__item__error {
        display: block;
      }
    }
  }
}
